<!DOCTYPE html>
<html>

<head>
    <title>Sistema de inventario - Cineto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../kendo/styles/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../kendo/styles/site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../kendo/css/kendo.common-bootstrap.min.css" />
    <link rel="stylesheet" href="../kendo/css/kendo.bootstrap.min.css" />
    <link rel="stylesheet" href="../kendo/css/kendo.bootstrap.mobile.min.css" />

</head>

<body>
    <div class="container-fluid">
        <!--open container-->
        <div class="row row-offcanvas row-offcanvas-left">
            <!--open row-->
            <div id="nav-section" class="col-xs-12 column">
                <!--open nav column-->
                <div class="navbar-default">
                    <button id="toggle-button" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <h1 id="dash-logo" class="center-block">Inventario</h1>

                <div class="collapse navbar-collapse" id="sidebar-nav" role="navigation">
                    <ul class="nav">

                        <li><a href="/admin"><span class="icon icon-chart-column "></span>Productos</a></li>
                        <li class="active"><a href="/billAdmin"><span class="icon icon-chart-column "></span>Ingresos</a></li>
                        <li><a href="/voucherAdmin"><span class="icon icon-chart-column "></span>Egresos</a></li>
                        <li><a href="/brand"><span class="icon icon-chart-column "></span>Marcas</a></li>
                        <li><a href="/category"><span class="icon icon-chart-column "></span>Categorías</a></li>
                        <li><a href="/unit"><span class="icon icon-chart-column "></span>Unidades de medida</a></li>
                        <li><a href="/location"><span class="icon icon-chart-column "></span>Almacenes</a></li>
                        <li><a href="/user"><span class="icon icon-chart-column "></span>Usuarios</a></li>
                       
                    </ul>


                </div>
            </div>
            <!--close left column-->
            <div id="main-section" class="col-xs-12 column">
                <!--open main column-->


                <nav class="navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">Registrar ingresos</a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#"><span class="glyphicon glyphicon-user"></span> <%= user.name %></a></li>
                            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Cerrar sesión</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="row" id="example">
                    <div id="grid"></div>
                </div>


                <div id="about" class="main-section-content row">

                    <div class="section-white">
                        <!--  <h3 class="section-title">Featured ASP.NET MVC UI Components</h3> -->
                        <div class="row">


                        </div>
                    </div>
                </div>


</body>
<% if (user) { %>
    <script>
        var user = '<%= user.id %>'
    </script>
    <% } %>


        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script src="../kendo/js/jquery-3.1.1.min.js"></script>
        <script src="../kendo/js/bootstrap.min.js"></script>
        <script src="../kendo/js/kendo.all.min.js"></script>
        <script src="../kendo/js/kendo.messages.es-MX.min.js"></script>
        <script src="../logic/billAdmin.js"></script>


</html>