<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sistema de inventario - inicio de sesi칩n</title>
	<link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
	<link rel="stylesheet" href="../css/style.css">
</head>

<body onload="nobackbutton();">
	<div class="wrapper">
		<form class="form-signin" action="/user/login" method="post">
			<img src="http://www.cineto.net/images/cineto/logo_cineto.svg" width="100%" alt="">
			<hr>
			<h4 class="form-signin-heading">Inicia sesi칩n para ingresar al sistema de inventario</h4>
			<% if (message) { %>
				<div class="alert alert-danger">
					<strong>Error!</strong>
					<%=message%>
				</div>

				<% } %>

					<input type="text" class="form-control" name="username" placeholder="Nombre de usuario" required="" autofocus="" autocomplete="off"
					/>
					<input type="password" class="form-control" name="password" placeholder="Contrase침a" required="" />
					<button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar sesi칩n</button>
		</form>
	</div>

	<script type="text/javascript">
		function nobackbutton() {
			window.location.hash = "no-back-button";
			window.location.hash = "Again-No-back-button"
			window.onhashchange = function () { window.location.hash = "no-back-button"; }
		}
	</script>


</body>

</html>